#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.card img {
  width: 50%;
}
